extends layout

block content
  style
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    
    .area {
      fill: steelblue;
    }
  .container.container-fluid
    .span5.offset-3
      h1 production grapher

    .row
      #canvas

    .row
      form(action='/', method='post', enctype='multipart/form-data')
        label New CSV
        input#new-csv(name='csv', type='file')
        button#csv-submit.btn.btn-primary Submit
  
  
  script(src="http://d3js.org/d3.v3.min.js")
  :coffeescript
    @a = @a || {}

